@import "variables";
//
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: $grid-breakpoints-sm) {
  .container {
    width: $container-max-widths-sm;
    max-width: 100%;
  }
}

@media (min-width: $grid-breakpoints-md) {
  .container {
    width: $container-max-widths-md;
    max-width: 100%;
  }
}

@media (min-width: $grid-breakpoints-lg) {
  .container {
    width: $container-max-widths-lg;
    max-width: 100%;
  }
}

@media (min-width: $grid-breakpoints-xl) {
  .container {
    width: $container-max-widths-xl;
    max-width: 100%;
  }
}
