{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "compat",
    "flowtype",
    "flowtype-errors"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "classes": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "max-len": 0,
    "indent": [
      "error",
      4
    ],
    "semi": [
      "error",
      "never"
    ],
    "react/jsx-indent": [
      "error",
      4
    ],
    "react/jsx-indent-props": [
      "error",
      4
    ],
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "flowtype-errors/show-errors": "error"
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
